@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


/* ------------------------- HEADER ------------------------- */

body{
    padding: 0px;
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #052767;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.containerHeader{
    display: flex;
    width: 92%;
    justify-content: space-between;
    align-items: center;
}

#navbar{
    display: flex;
    width: 50%;
    
}

.lista_nav{
    display: flex;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    justify-content: space-between;
    width: 100%;
}

.nav_item{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    color: white;
    align-items: center;
    cursor: pointer;
}

.bt_login{
    display: flex;
    background-color: #01C38E;
    border: none;
    border-radius: 6px;
    color: #ffff;
    height: 30px;
    width: 70px;
    font-size: 15px;
    cursor: pointer;
    list-style: none;
    justify-content: center;
    align-items: center;
}


/* ------------------------- HEADER ------------------------- */


/* ------------------------- BODY ------------------------- */

.corpo{
    display: flex;
    height: auto;
    flex-direction: column;
}

.background_imagem{
    background-image: url("imgs/Background-Categorias.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
    justify-content: center;
    align-items: center;
}

.box_background_imagem h1{
    color: white;
    text-align: center;
    width: 50%;
}

.box_background_imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 560px;
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.conteudo h2{
    text-align: center;
    width: 29%;
}

.conteudo img{
    width: 27%;
}

.texto_conteudo{
    display: flex;
    width: 100%;
    justify-content: center;
}

.texto_conteudo2{
    display: flex;
    width: 100%;
    justify-content: center;
}

.texto_p{
    text-align: center;
    width: 49%;
    margin-top: 40px;
}

.texto_p2{
    text-align: center;
    width: 49%;
    margin-top: 10px;
}

.centralizadora{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxes{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.checkbox{
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
}

.bt_solucao{
    background-color: #01C38E;
    border: none;
    border-radius: 6px;
    color: #ffff;
    height: 45px;
    width: 40%;
    /* font-weight: bolder; */
    font-size: 15px;
    cursor: pointer;
    align-self: center;
    margin-top: 3%;
    /* padding: 20px 0px; */
}


.box_solucao{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensagem_solucao{
    background-color: rgb(187, 187, 187);
    height: auto;
    width: 50%;
    border-radius: 5px;
    padding: 20px;
}

.resposta{
    text-align: center;
}

.bt_faca_parte{
    background-color: #052767;
    border: none;
    border-radius: 6px;
    color: #ffff;
    height: 40px;
    width: 20%;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
    margin-top: 3%;
}

#componentes_monitorados{
    color: #052767;
    text-align: center;
}

#solucoes_spectra{
    text-align: center;
}

.componentes_nao_monitorados{
    text-align: center;
}

/* .problemas_cliente{
    list-style: circle;
} */
/* --------------------------- BODY ------------------------------ */


/* ----------------------------FOOTER ----------------------------- */
.conteudoFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("imgs/fundoFooter.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
}

.elementos{
    margin-top: 18%;
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha{
    width: 100%;
    border-top: 2px solid #ffff;
    margin-top: 3%;
}

.logoFinal{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color: #ffff;
    align-items: center;
}

.logoFinal img {
    width: 80%;
}

.logoFinal span {
    margin-top: 5%;
}

.lista_nav .nav_item_footer {
    margin-right: 5em;
    font-size: 1.1vmax;
    color: #ffff;
    list-style: none;
}

/* -------------------------- FOOTER ----------------------------- */