@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* ------------------------- HEADER -------------------------*/

body{
    padding: 0px;
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #052767;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.containerHeader{
    display: flex;
    width: 92%;
    justify-content: space-between;
    align-items: center;
}

#navbar{
    display: flex;
    width: 24%;
    
}

.lista_nav{
    display: flex;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    justify-content: space-between;
    width: 100%;
}

.nav_item{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.bt_login{
    background-color: #01C38E;
    border: none;
    border-radius: 6px;
    color: #ffff;
    height: 30px;
    width: 70px;
    /* font-weight: bolder; */
    font-size: 15px;
    cursor: pointer;
}
/* ------------------------- HEADER -------------------------*/



/* ------------------------- BODY -------------------------*/

.containerCorpo{
    display: flex;
    width: 92%;
    justify-content: space-between;
    align-items: center;
    
}

.conteudo{
    display: flex;
    justify-content: center;
    background-image: url("imgs/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.box{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

h3{
    margin: 0;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    justify-content: space-between;
    width: 310px;
}

.inputs {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  .input {
    display: flex;
    padding: 5px;
    border: 1.6px solid #052767;
    border-radius: 7px;
    width: 100%;
    justify-content: space-around;
  }
  input {
    all: unset;
    font-size: 15px;
  }

  #input_email{
    width: 90%;
  }

  #input_senha{
    width: 90%;
  }

.bt_login_corpo{
    background-color: #01C38E;
    border: none;
    border-radius: 6px;
    color: #ffff;
    height: 30px;
    width: 245px;
    /* font-weight: bolder; */
    font-size: 15px;
    cursor: pointer;
}

.mensagem_conta{
    width: 245px;
    font-size: 12px;
}

.mensagem_conta a{
    text-decoration: none;
    color: #052767;
    font-weight: bold;
}
/* ------------------------- BODY -------------------------*/


/* ------------------------- FOOTER -------------------------*/

/* .conteudoFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("imgs/fundoFooter.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
}

.elementos{
    margin-top: 18%;
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha{
    width: 100%;
    border-top: 2px solid #ffff;
    margin-top: 3%;
}

.logoFinal{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color: #ffff;
    align-items: center;
}

.logoFinal img {
    width: 80%;
}

.logoFinal span {
    margin-top: 5%;
}

.lista_nav li {
    margin-right: 5em;
    font-size: 1.1vmax;
    color: #ffff;
    list-style: none;
} */

/* ------------------------- FOOTER -------------------------*/