@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* -------------------- header -------------------- */

.header {
    width: 100%;
    height: 2%;
    background-color: rgba(151, 241, 41, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* Adicionado para tornar o menu flutuante */
    top: 0;
    /* Define a posição fixa no topo da página */
    z-index: 999;
}

.containerHeader {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

#imgLogo {
    width: 120px;
    height: 60px;
}

.lista_nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.lista_nav li {
    margin-right: 5em;
    font-size: 1.1vmax;
    color: #ffff;
}

.bt_login {
    background-color: #01C38E;
    border: none;
    border-radius: 10px;
    color: #ffff;
    height: 30px;
    width: 70px;
    font-weight: bolder;
}

/* ------------------ conteudo -----------------------  */

.banner {
    width: 100%;
    height: 900px;
    background-image: url(../imgs/FUNDO.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;

}

.informacoes {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 500px;
}

.parte1 {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}


.escrita1 {
    width: 550px;
}

.escrita2 {
    width: 550px;
}

.titulo_baner {
    font-size: 64px;
    font-weight: 600;
    color: #ffff;
}

.complemento_banner {
    font-size: 20px;
    color: #ffff;
}

.bt_saber {
    background-color: #01C38E;
    border: none;
    border-radius: 10px;
    color: #ffff;
    width: 100px;
    height: 34px;
    font-weight: bolder;
    cursor: pointer;
}

.imagem {
    margin-top: 7%;
}

#ftdash {
    margin-left: 9.8%;
    height: 750px;
}


/* ------------------------------- vantagens ---------------------------- */

.pontosGarantidos {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.flex {
    width: 90%;
    display: flex;
    justify-content: center;
}

.suporte {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    height: 200px;
}

.imgSuporte img {
    height: 100px;
}

.tituloSuporte span {
    font-size: x-large;
    font-weight: 600;
}

.conteudoSuporte {
    width: 60%;
    text-align: center;
    margin-top: 5%;
}

.conteudoSuporte span {
    font-size: large;
}


.otimizacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    justify-content: center;

}

.imgOtimizacao img {
    height: 100px;
}

.tituloOtimizacao span {
    font-size: x-large;
    font-weight: 600;
}

.conteudoOtimizacao {
    width: 70%;
    text-align: center;
    margin-top: 5%;
}

.conteudoOtimizacao span {
    font-size: large;
}

.falhas {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    height: 200px;
}

.imgFalhas img {
    height: 100px;
}

.tituloFalhas span {
    font-size: x-large;
    font-weight: 600;
}

.conteudoFalhas {
    width: 60%;
    text-align: center;
    margin-top: 5%;
}

.conteudoFalhas span {
    font-size: large;
}


/* -------------------- soluçao ------------------  */


.conteudoSolucao{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.containerSolucao{
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nomeSolucao span{
    font-size: x-large;
    font-weight: 600;
}

.explicacaoSolucao {
    font-size: large;
    width: 40%;
    text-align: center;
    margin-top: 2%;
}


.dashSolucao{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
    align-items: center;
    
}


.imgDashSolucao img{
    width: 150%;
}

.monitoramentos{
    width: 20%;
    display: flex;
    flex-direction: column; 
}

.monitoramentos span{
    margin-top: 2%;
}

/* --------------------------------------------------------------------  */

.fzerParte{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    background-image: url(../imgs/fundoVerde.svg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.textoParte span {
    color: #ffff;
    font-size: x-large;
    font-weight: 500;
}

.btFzrParte button{
    margin-top: 25%;
    border-radius: 5px;
    border: none;
    font-size: medium;
    color: #ffff;
    background-color: #052767;
    font-weight: 550;
    height: 30px;
    width: 120%;
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------  */

.conteudoQuemSomos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.TituloQuemSomos span{
    font-size: x-large;
    font-weight: 600;
}

.conteudoQS{
    font-size: large;
}

.pilares{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.pilar1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.tituloPilar1{
    font-size: x-large;
    font-weight: 600;
}

.conteudoPilar1{
    width: 60%;
    text-align: center;
    margin-top: 5%;
    font-size: large; 
}

.pilar2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.tituloPilar2{
    font-size: x-large;
    font-weight: 600;
}

.conteudoPilar2{
    width: 60%;
    text-align: center;
    margin-top: 5%;
    font-size: large; 
}

.pilar3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.tituloPilar3{
    font-size: x-large;
    font-weight: 600;
}

.conteudoPilar3{
    width: 60%;
    text-align: center;
    margin-top: 5%;
    font-size: large; 
}
