@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* --------------------------------- header ---------------------------------- */

.header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    /* z-index: 999;
    position: fixed;
    top: 0; */
    background-color: #052767;
}

.containerHeader{
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
}

.logoNav{
    height: 100%;
    display: flex;
    align-items: center;
}

.nomeEmpresa{
    color: white;
}


#imgLogo {
    width: 30%;
    height: 10vh;
    cursor: pointer;
}

/* --------------------------------- header ---------------------------------- */



/* --------------------------------- body ---------------------------------- */

.corpo{
    display: flex;
}

/* ----- sideBar ----- */
.sideBar{
    background-color: #202020;
    height: 100vh;
    width: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sideContainer{
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.sideBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 36%;
    width: 90%;
}

.iconUsuario{
    height: 10vh;
}

.dadosUsuario{
    text-align: center;
}

#nome_usuario{
    color: white;
    font-size: 15px;
}

#tipo_acesso{
    color: white;
    font-size: 11px;
}

.configuracoes{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 90%;
    justify-content: space-around;
}

.configurarMaquina{
    color: white;
    display: flex;
    font-size: 11px;
    align-items: center;
    cursor: pointer;
}

.iconConfig{
    height: 4vh;
    margin-right: 1VH;
}

.cadastrarUsuario{
    color: white;
    display: flex;
    font-size: 11px;
    align-items: center;
    cursor: pointer;
}

.iconUsuario2 {
    height: 3.5vh;
    margin-right: 1.3VH;
    margin-left: 1px;
}


.iconSair{
    height: 7vh;
    cursor: pointer;
}

.sair{
    color: white;
    font-size: 11px;
    text-align: center;
    margin-bottom: 5vh;
}

a{
    text-decoration: none;
}

/* ----- sideBar ----- */



/* ----- conteudo ----- */
.conteudo{
    display: flex;
    flex-direction: column;
    width: 86vw;
    align-items: center;
}

.containerConteudo{
    width: 92%;
    height: 100%;
}

.titulo{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    height: 13%;
    justify-content: end;
}

.containerCadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87%;
}

.boxCadastro{
    width: 60%;
    height: 70%;
    background-color: #F4F4F4;
    border-radius: 5px;
}

.tituloCadastro{
    display: flex;
    align-items: center;
    background-color: #052767;
    color: white;
    height: 10%;
    border-radius: 5px 5px 0px 0px;
}

.tituloCadastro h4{
    margin-left: 15px;
    font-size: 14px;
}

.centralizadora{
    display: flex;
    height: 90%;
    justify-content: center;
}

.cadastroFuncionario{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input {
    display: flex;
    padding: 8px;
    border: 1px solid #052767;
    border-radius: 7px;
    width: 80%;
    justify-content: space-around;
    background-color: white;
}

input {
    all: unset;
    font-size: 12px;
    width: 240px;

}

span{
    font-weight: bold;
}

.labels{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#input_nome_funcionario{
    width: 100%;
}

.linha1 .inputs .input{
    width: 100%;
}

.colunas{
    display: flex;
}

.coluna1{
    width: 50%;
}

.gap{
    display: flex;
    justify-content: end;
    width: 50%;
}

.coluna2{
    display: flex;
    flex-direction: column;
    width: 90%;
}

select{
    width: auto;
    padding: 7px;
    border-radius: 7px;
    font-size: 13px
}

.botoes{
    margin-top: 5%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

button{
    color: white;
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 12px;
    width: 20%;
    cursor: pointer;
}

.bt_pesquisar{
    background-color: #052767;
}

.bt_salvar{
    background-color: #01C38E;
}

.bt_excluir{
    background-color: #202020;
}

/* ----- conteudo ----- */


/* --------------------------------- body ---------------------------------- */