@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* --------------------------------- header ---------------------------------- */

.header {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    background-color: #052767;
}

.containerHeader {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
}

.logoNav {
    height: 100%;
    display: flex;
    align-items: center;
}

.nomeEmpresa {
    color: white;
}


#imgLogo {
    width: 30%;
    height: 10vh;
}

/* --------------------------------- header ---------------------------------- */



/* --------------------------------- body ---------------------------------- */

.conteudoTotal {
    display: flex;
}

.sideBar {
    background-color: #202020;
    height: 94vh;
    width: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sideContainer {
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.sideBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 36%;
    width: 90%;
}

.iconUsuario {
    height: 10vh;
}

.dadosUsuario {
    text-align: center;
}

#nomeUser {
    color: white;
    font-size: 15px;
}

#tipoAcesso {
    color: white;
    font-size: 11px;
}

.configuracoes {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 90%;
    justify-content: space-around;
}

.configurarMaquina {
    margin-top: 100px;
    color: white;
    display: flex;
    font-size: 11px;
    align-items: center;
    cursor: pointer;
}

.iconConfig {
    height: 4vh;
    margin-right: 1VH;
}

.cadastrarUsuario {
    margin-top: 30px;
    color: white;
    display: flex;
    font-size: 11px;
    align-items: center;
    cursor: pointer;
}

.iconUsuario2 {
    height: 3.5vh;
    margin-right: 1.3VH;
    margin-left: 1px;
}

.home {
    margin-top: 30px;
    color: white;
    display: flex;
    font-size: 11px;
    align-items: center;
    cursor: pointer;
}

.iconUsuario3 {
    height: 3.5vh;
    margin-right: 1.3VH;
    margin-left: 1px;
}


.iconSair {
    height: 7vh;
    cursor: pointer;
}

.sair {
    color: white;
    font-size: 11px;
    text-align: center;
    margin-bottom: 3vh;
}

/* ------------------------------ CONTEUDO ------------------------------ */
.conteudo {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixaTitulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    height: 10vh;
}

.titulo {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.titulo span {
    font-weight: 900;
    font-size: 1.5rem;
}

.escrita {
    display: flex;
    width: 85%;
}

.escrita span {
    font-weight: 600;
}

/* ---------------------------------------------------------------------------------  */

.caixaTotal {
    height: 80vh;
    width: 95%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.componentes {
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.caixaComponentes {
    width: 97%;
    height: 26vh;
    display: flex;
    margin-top: 1.5%;

}

.imgIcone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 26vh;
}

form{
    border-radius: 5px;
    background: #ECECEC;
    width: 70%;
    height: 26vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.caixaEspecificando {
    border-radius: 5px;
    background: #ECECEC;
    width: 100%;
    height: 26vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.caixaTituloComponente {
    height: 6vh;
    width: 100%;
    background-color: #052767;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    font-size: 1.0rem;
}

.caixaPorcentagens {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btParaSalvar {
    width: 85%;
    display: flex;
    justify-content: end;
}

.btParaSalvar button {
    border-radius: 5px;
    background: #052767;
    color: white;
    height: 4vh;
    width: 6vw;
    border: none;
    font-size: large;
    cursor: pointer;
}

#restaurarCPU, #restaurarDisco,#restaurarRam {
    background: rgb(34, 42, 58);
}

.taxaAlerta {
    height: 20vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taxaCritica {
    height: 20vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloAlerta {
    width: 9vw;
    font-weight: 700;
    font-weight: 700;
}


input {
    all: unset;
    border: 1px solid #000;
    background: #FFF;
    width: 8vw;
    border-radius: 7px;
    padding: 0.5vh 0.5vw;
    font-size: 14px;
}

.tituloCritico {
    width: 9vw;
    font-weight: 700;
    font-weight: 700;
}

.caixaCritico {
    border: 1px solid #000;
    background: #FFF;
    width: 9vw;
    height: 4vh;
    border-radius: 7px;
}


.caixaAlertas {
    width: 30%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.caixas {
    width: 80%;
    height: 35vh;
    border-radius: 10px;
    background: #ECECEC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.centralizador {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.TituloCaixa {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-weight: 700;
    font-size: 1.3rem;
}

.ConteudoCaixa {
    width: 70%;
}

.caixaDemonstracao1 {
    width: 3vw;
    height: 3vh;
    background-color: #F09F24;
    border-radius: 7px;
}



.caixaDemonstracao2 {
    width: 3vw;
    height: 3vh;
    background-color: #FF1818;
    border-radius: 7px;
}