@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* --------------------------------- header ---------------------------------- */

.header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    /* z-index: 999;
    position: fixed;
    top: 0; */
    background-color: #052767;
}

.containerHeader{
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
}

.logoNav{
    height: 100%;
    display: flex;
    align-items: center;
}

.nomeEmpresa{
    color: white;
}


#imgLogo {
    width: 30%;
    height: 10vh;
}

/* --------------------------------- header ---------------------------------- */


/* --------------------------------- body ---------------------------------- */


.corpo{
    display: flex;
}

/* ----- sideBar ----- */
.sideBar{
    background-color: #202020;
    height: 100vh;
    width: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sideContainer{
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.sideBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 36%;
    width: 90%;
}

.iconUsuario{
    height: 10vh;
}

.dadosUsuario{
    text-align: center;
}

#nome_usuario{
    color: white;
    font-size: 15px;
}

#tipo_acesso{
    color: white;
    font-size: 11px;
}

.configuracoes{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 90%;
    justify-content: space-around;
}

.configurarMaquina{
    color: white;
    display: flex;
    font-size: 11px;
    align-items: center;
    cursor: pointer;
}

.iconConfig{
    height: 4vh;
    margin-right: 1VH;
}

.cadastrarUsuario{
    color: white;
    display: flex;
    font-size: 11px;
    align-items: center;
    cursor: pointer;
}

.iconUsuario2 {
    height: 3.5vh;
    margin-right: 1.3VH;
    margin-left: 1px;
}


.iconSair{
    height: 7vh;
    cursor: pointer;
}

.sair{
    color: white;
    font-size: 11px;
    text-align: center;
    margin-bottom: 5vh;
}

a{
    text-decoration: none;
}

/* ----- sideBar ----- */


/* ----- conteudo ----- */
.conteudo{
    display: flex;
    flex-direction: column;
    width: 86vw;
    align-items: center;
}

.containerConteudo{
    width: 95%;
    height: 100%;
}

.titulo{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    height: 10%;
    justify-content: end;
}

.informacoes{
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin-top: 10px;
}

.boxInfo{
    display: flex;
    width: 80%;
    background-color: #F8F8F8;
    padding: 0% 3%;
    box-shadow: 0px 2px 5px rgb(167, 167, 167);
    border-radius: 3px;
}

.info{
    display: flex;
    width: 52%;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: #052767;
    padding: 10px 50px;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgb(167, 167, 167);
}


.containerTable{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    width: 100%;
}

table{
    width: 75%;
    border-collapse: collapse;
}

th{
    background-color: #01C38E;
    padding: 15px;
    text-align: center;
    font-size: 17px;
    border-radius: 4px 4px 0px 0px;
}

td{
    padding: 7px;
    font-size: 13px;
    margin-left: 4%;
    border-bottom: 2px solid #7E7C7C;
}

tr, td{
    background-color: #E6F1F0;
}

.status{
    border-left: 2px solid #7E7C7C;
    border-right: 2px solid #7E7C7C;
}



.nomeProcesso, .status, .dtHora{
    width: 30%;
}


/* ----- conteudo ----- */

/* --------------------------------- body ---------------------------------- */